.section__toggleButtons {
  background-color: hsl(34, 41%, 68%);
  border-radius: 7px;
  border: 3px solid black;
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, .4);
  text-shadow: 1px 1px 2px #222;
  display: flex;
  justify-content: flex-end;
  margin: 0 50px;
  padding: 5px;
}

.section__button {
  border: none;
  background-color: transparent;
  text-shadow: 2px 2px 2px #eee;
  text-transform: uppercase;
  padding: 5px;
}

@media (max-width:414px) and (orientation:portrait) {
  .section__toggleButtons {
    margin: 10px;
    flex-direction: column;
  }
}

.section__button:hover {
  cursor: pointer;
  color: #333;
}

.section__button--hidden {
  display: none;
}